body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

aside {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
aside h2{
  text-align: center;
  font-size: 30px;
} 
.mucluc li{
  display: flex;
  margin-bottom: 20px;
  
}
.mucluc a{
  text-decoration: none;
  border: 2px solid;
  border-color: #0845eb ;
  
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
}
.mucluc a:hover {
  background-color: black;
  transition: 0.15s;
  color: #4caf50;
}

main {
  flex: 1;
  padding: 0 20px;
}
.head_main{
  font-weight: bold;
  background-color: rgb(230, 230, 230);
  padding: 10px 10px;
}
.add{
  padding: 5px 10px;
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: #fff;
  width: 100px;
}
.edit{
  background-color: #fe9800;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}
.Delete{
  background-color: #ec1d1d;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}